<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirection au Frontend" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="/web/frontend/{R:0}" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="web/frontend/index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
